<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523238709382-om2fmep7jlvshdogiraqb3qf5uc2bvjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523238709382-om2fmep7jlvshdogiraqb3qf5uc2bvjd</string>
	<key>API_KEY</key>
	<string>AIzaSyA7UpeVmTAokPBU3whxejiEMnH2izJrQNc</string>
	<key>GCM_SENDER_ID</key>
	<string>523238709382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udemyFlutterChat</string>
	<key>PROJECT_ID</key>
	<string>udem-88794</string>
	<key>STORAGE_BUCKET</key>
	<string>udem-88794.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523238709382:ios:888b4684b117ce11245907</string>
	<key>DATABASE_URL</key>
	<string>https://udem-88794-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>